body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tile
{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid gray;
}
.tile.m0
{
  width: calc(100% /  2);
}
.tile.m1
{
  width: calc(100% /  5);
}
.tile.m2
{
  width: calc(100% /  8);
}
.tile.m3
{
  width: calc(100% / 11);
}
.tile.m4
{
  width: calc(100% / 14);
}
.tile.m5
{
  width: calc(100% / 17);
}
.tile .tile-index
{
  color: gray;
  font-size: smaller;
}
.tile .tile-value
{
  font-weight: bold;
  font-size: larger;
}
